.pagination {
  padding: 0;
  margin-top: 16px;

  li {
    display: inline-block;

    &::marker {
      content: none;
    }
  }
}

.post__tag {
  display: flex;
  i {
    margin-right: 6px;
  }
}

.post__tags {
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    background: var(--base03);
    margin-bottom: 4px;

    a {
      color: var(--base00);
      padding: 2px 4px;

      &:hover {
        color: var(--hover);
      }

      &::before {
        content: "./";
      }
    }
  }
}

.post__meta {
  margin: 0;
  display: flex;
}

.post__date {
  margin-right: 16px;
}

.post__summary {
  padding: 6px 0;

  p {
    margin: 0;
  }
}

.content__body {
  margin-top: 16px;
}