{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="content__body">
        {{ .Content }}
    </div>
    <footer class="content__footer"></footer>
{{ end }}

{{define "aside" }}
<ul class="aside__language-menu">
    {{ $siteLanguages := .Site.Languages }}
    {{ $pageLang := .Page.Lang }}
    
    {{ $currentPage := . }}
    {{ $pageName := "" }}
    {{ range .Site.Menus.main }}
      {{ if eq ($currentPage.Permalink) (.URL | absLangURL) }}
        {{ $pageName = .Name }}
      {{ end }}
    {{ end }}
    
    {{ range .Page.AllTranslations }}
      {{ $translation := .}}
      {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
            {{ $selected := false }}
            {{ if eq $pageLang .Lang }}
              <li class="active"><b>{{ .LanguageName }}</b></li>
            {{ else }}
              <li><a href="{{ $translation.Permalink }}">{{ .LanguageName }}</a></li>
            {{ end }}
          {{ end }}
      {{ end }}
    {{ end }}
</ul>
{{ end }}
